<h1>Generator</h1>

<form action="/file" method="post">

  {{#each templateFiles as |template|}}
    <input type="radio" name="file" id="{{@index}}" value="{{path}}" />
    <label for="{{@index}}">{{name}}</label>
  {{/each}}

  {{#if templateFiles}}
    <button class="submit-btn" type="submit">
      Przejdź dalej
    </button>
  {{/if}}
  {{#unless templateFiles}}
    <h2>Nie znaleziono żadnych plików z rozszerzeniem docx w folderu templates.</h2>
  {{/unless}}
</form>