<h1>heheh</h1>
<h2>{{inputs}}</h2>

<form action="/file" method="post" enctype="multipart/form-data">

  <input type="file" accept=".docx" name="file" id="file" />

  <button type="submit">
    Wyślij
  </button>
</form>