<h1>Generator</h1>
<h2>{{inputs}}</h2>

<form action="/file" method="post" enctype="multipart/form-data">

  <input type="file" accept=".docx" name="file" id="file" />

  <button id="submit-btn" type="submit" disabled="true">
    Wyślij
  </button>
</form>