.form__label {
  overflow: auto;
  right: 0.75rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.form__label::-webkit-scrollbar {
  display: none;
}

.form__input,
.form__label {
  transition-property: all !important;
}

.form__input:disabled,
.form__input:disabled + label {
  opacity: 0.5 !important;
}

.form__step-container {
  display: flex;
  transition: transform 0.5s ease;
}

.form-slider {
  height: fit-content;
}
